{% extends 'base.html.twig' %}

{% block title %}Hello StaffController!
{% endblock %}

{% block body %}
	<body>
		<div class="content">
			<div class="textbox">
				<h2>Domain Expansion
				</h2>
				<p>
					Domain Expansion est un forum crée par 3 passionés d'anime et de culture japonaise.
										Nous avons fait ce site pour un projet de formation dans l'optique de l'ouvrir à tous.
										Sur cette page tu découvriras le staff et nos personnages favoris !
				</p>
				<a href="https://discord.gg/7A7jrdyzx5" target="_blank">Rejoindre</a>

			</div>

		</div>

		<div class="swiper-container mySwiper">
			<div class="swiper-wrapper">
				<div class="swiper-slide">
					<img src="{{ asset('asset/img/Sano_Manjiro.png')}}"/>
					<p>Osman Toy</p>
				</div>
				<div class="swiper-slide">
					<img src="{{ asset('asset/img/Kiyotaka_Ayanoko.png')}}"/>
					<p class="prenom">Octavio Gomes</p>
				</div>
				<div class="swiper-slide">
					<img src="{{ asset('asset/img/tortue_genial.png')}}"/>
					<p class="prenom">Amin El Kebir</p>
				</div>
			</div>
			<div class="swiper-pagination"></div>
		</div>
		<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

		<!-- Initialize Swiper -->
		<script>
			var swiper = new Swiper(".mySwiper", {
effect: "coverflow",
grabCursor: true,
centeredSlides: true,
slidesPerView: "auto",
coverflowEffect: {
rotate: 50,
stretch: 0,
depth: 100,
modifier: 1,
slideShadows: true
},
pagination: {
el: ".swiper-pagination"
}
});
		</script>
	</body>
{% endblock %}


{% block javascripts %}{% endblock %}


{% block stylesheets %}
	<style>

		.prenom {
			position: absolute;
		}
		/* SLIDER */
		.swiper-container {
			width: 100%;
			padding-top: 50px;
			padding-bottom: 50px;
		}

		.swiper-slide {
			background-position: center;
			background-size: cover;
			width: 180px;
			height: 460px;
			display: flex;
			justify-content: center;
            padding-bottom: 700px;
		}
		.content .imgBox {
			width: 500px;
			display: flex;
			justify-content: flex-end;
		}
		.content .imgBox img {
			max-width: 150px;
		}
		.swiper-slide img {
			position: absolute;
			bottom: 0;
			max-height: 100%;
		}
		.swiper-container-3d .swiper-slide-shadow-left,
		.swiper-container-3d .swiper-slide-shadow-right {
			background-image: none;
		}
	</style>
{% endblock %}
