{% extends  'base.html.twig' %}

{% block body %}
    <h1>Yokoso Kono Subarashi Sekai !</h1>
 <img src="/" alt="">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Numquam itaque iure atque nihil ipsum aliquam eos doloremque reprehenderit pariatur quaerat dolore omnis, voluptates sed. 
    Commodi animi iure ea quidem accusantium quis minima! Recusandae, eos dolore optio enim ratione magni natus.</p>
    <p>Ipsa temporibus placeat dolorum dicta possimus sapiente eos excepturi fugit reiciendis ut veritatis, 
    laborum minus vitae, ea, consectetur at necessitatibus quasi. 
    Ea neque atque maiores quisquam reiciendis nesciunt ex tenetur laborum, 
    cum labore sit aspernatur voluptate quos recusandae, vitae animi.</p>

{% endblock %}