{% extends 'base.html.twig' %}

{% block title %}Hello PageAccueilController!{% endblock %}

{% block body %}
<header>  
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
    <a class="navbar-brand" href="#">Accueil</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Évènement</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Staff</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Contacter l'équipe</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
</header>
<body>
<table class="forumline" width="100%" cellspacing="1" cellpadding="0" border="0">
<tbody>
<tr>
<th colspan="2" class="secondarytitle" width="100%" nowrap="nowrap">
&nbsp;
<h2>Tout sur Kyo Kara Maoh</h2>
&nbsp;</th>
<th width="50" nowrap="nowrap">Sujets</th>
<th width="50" nowrap="nowrap">Messages</th>
<th width="150" nowrap="nowrap">
<div style="width:150px;">Derniers Messages</div>
</th>
</tr>
<tr>
<td class="row1" valign="middle" align="center">
<img title="Pas de nouveaux messages" src="https://2img.net/s/t/15/96/99/i_folder_big.png" alt="Pas de nouveaux messages">
</td>
<td class="row1 over" colspan="1" width="100%" valign="top" height="50">
<h3 class="hierarchy"><span class="forumlink"><a class="forumlink" href="/f6-l-anime">L'animé</a><br></span></h3>
<span class="genmed">Le dernier épisode vous à plu ou déçu ? Venez échangez vos opinions içi ou peut être plus :)<br></span>
<span class="gensmall"><span class="mod-text">Modérateurs:</span>&nbsp;
<a class="group-mod" href="/g2-moderateurs">Modérateurs</a>, <a class="group-mod" href="/g4-assistant-modo">Assistant Modo</a><br></span></td>
<td class="row3" valign="middle" height="50" align="center">
<span class="gensmall">2</span></td><td class="row2" valign="middle" height="50" align="center">
<span class="gensmall">8</span></td><td class="row3 over" valign="middle" height="50" align="center">
<span class="gensmall">
<span><a href="/t70-alors-voici-un-sujet-pour-parler-de-vos-personnage-prefere" title="Alors voici un sujet pour parler de vos personnage préféré">Alors voici un s...</a><br>Mer 24 Fév - 12:33<br>YuuramStory&nbsp;<a href="/t70-alors-voici-un-sujet-pour-parler-de-vos-personnage-prefere#218" class="last-post-icon"><img src="https://2img.net/s/t/15/96/99/i_icon_latest_reply.png" alt="Voir le dernier message" title="Voir le dernier message"></a></span></span></td></tr>
<tr><td class="row1" valign="middle" align="center"><img title="Pas de nouveaux messages" src="https://2img.net/s/t/15/96/99/i_folder_big.png" alt="Pas de nouveaux messages"></td>
<td class="row1 over" colspan="1" width="100%" valign="top" height="50">
<h3 class="hierarchy"><span class="forumlink"><a class="forumlink" href="/f7-le-manga">Le manga</a><br></span></h3>
<span class="genmed"></span>
<span class="gensmall"><span class="mod-text">Modérateurs:</span>&nbsp;
<a class="group-mod" href="/g2-moderateurs">Modérateurs</a>, <a class="group-mod" href="/g4-assistant-modo">Assistant Modo</a><br></span></td>
<td class="row3" valign="middle" height="50" align="center"><span class="gensmall">2</span></td><td class="row2" valign="middle" height="50" align="center">
<span class="gensmall">2</span></td><td class="row3 over" valign="middle" height="50" align="center">
<span class="gensmall"><span><a href="/t71-urgent-cherche-info" title="URGENT CHERCHE INFO">URGENT CHERCHE I...</a><br>Lun 25 Jan - 16:58<br>
<span style="color:#FC0808"><strong>yuri</strong></span>&nbsp;<a href="/t71-urgent-cherche-info#212" class="last-post-icon"><img src="https://2img.net/s/t/15/96/99/i_icon_latest_reply.png" alt="Voir le dernier message" title="Voir le dernier message"></a></span></span></td></tr><tr><td class="row1" valign="middle" align="center"><img title="Pas de nouveaux messages" src="https://2img.net/s/t/15/96/99/i_folder_big.png" alt="Pas de nouveaux messages"></td>
<td class="row1 over" colspan="1" width="100%" valign="top" height="50"><h3 class="hierarchy"><span class="forumlink"><a class="forumlink" href="/f8-generalites">Généralités</a><br></span></h3><span class="genmed">Parlons de nos héros préférés et de l'univers du mangas.<br></span><span class="gensmall"><span class="mod-text">Modérateurs:</span>&nbsp;<a class="group-mod" href="/g2-moderateurs">Modérateurs</a>, <a class="group-mod" href="/g4-assistant-modo">Assistant Modo</a><br></span></td>
<td class="row3" valign="middle" height="50" align="center"><span class="gensmall">2</span></td><td class="row2" valign="middle" height="50" align="center"><span class="gensmall">2</span></td><td class="row3 over" valign="middle" height="50" align="center"><span class="gensmall"><span><a href="/t52-les-arcs-de-la-l-anime" title="les arcs de la l'animé ???">les arcs de la l...</a><br>Jeu 26 Nov - 18:47<br>loveyaoi&nbsp;
<a href="/t52-les-arcs-de-la-l-anime#154" class="last-post-icon"><img src="https://2img.net/s/t/15/96/99/i_icon_latest_reply.png" alt="Voir le dernier message" title="Voir le dernier message"></a></span></span></td></tr><tr><td class="row1" valign="middle" align="center"><img title="Pas de nouveaux messages" src="https://2img.net/s/t/15/96/99/i_folder_big.png" alt="Pas de nouveaux messages"></td><td class="row1 over" colspan="1" width="100%" valign="top" height="50"><h3 class="hierarchy"><span class="forumlink"><a class="forumlink" href="/f9-episodes">Episodes</a><br></span></h3>
<span class="genmed">Ici sera mis tous les lien des anime.<br></span><span class="gensmall"><span class="mod-text">Modérateurs:</span>&nbsp;<a class="group-mod" href="/g2-moderateurs">Modérateurs</a>, <a class="group-mod" href="/g4-assistant-modo">Assistant Modo</a><br></span></td><td class="row3" valign="middle" height="50" align="center"><span class="gensmall">5</span></td><td class="row2" valign="middle" height="50" align="center"><span class="gensmall">5</span></td><td class="row3 over" valign="middle" height="50" align="center"><span class="gensmall"><span><a href="/t17-oav-megavideo" title="OAV megavideo">OAV megavideo</a><br>Dim 15 Nov - 10:04<br><span style="color:#FC0808"><strong>Shinoh</strong></span>&nbsp;<a href="/t17-oav-megavideo#19" class="last-post-icon"><img src="https://2img.net/s/t/15/96/99/i_icon_latest_reply.png" alt="Voir le dernier message" title="Voir le dernier message"></a></span></span></td></tr>
<tr><td class="row1" valign="middle" align="center"><img title="Pas de nouveaux messages" src="https://2img.net/s/t/15/96/99/i_folder_big.png" alt="Pas de nouveaux messages"></td><td class="row1 over" colspan="1" width="100%" valign="top" height="50"><h3 class="hierarchy"><span class="forumlink"><a class="forumlink" href="/f10-fiche-personages">Fiche Personages</a><br></span></h3><span class="genmed">Section des fiches personnages<br></span>
<span class="gensmall"><span class="mod-text">Modérateurs:</span>&nbsp;<a class="group-mod" href="/g2-moderateurs">Modérateurs</a>, <a class="group-mod" href="/g3-redacteur">Rédacteur</a><br></span></td><td class="row3" valign="middle" height="50" align="center"><span class="gensmall">4</span></td><td class="row2" valign="middle" height="50" align="center"><span class="gensmall">9</span></td><td class="row3 over" valign="middle" height="50" align="center"><span class="gensmall"><span><a href="/t21-yuri-shibuya" title="Yuri Shibuya">Yuri Shibuya</a><br>Mar 22 Déc - 14:57<br>Invité &nbsp;<a href="/t21-yuri-shibuya#184" class="last-post-icon"><img src="https://2img.net/s/t/15/96/99/i_icon_latest_reply.png" alt="Voir le dernier message" title="Voir le dernier message"></a></span></span></td></tr></tbody></table>
  </body> 
{% endblock %}

{% block javascripts %}

{% endblock %}

{% block stylesheets %}

<style>
body{
  background-color : Grey;
}
.background{
  height: 300px;
  width: 100%;
  position: relative; z-index: 4;
}
nav{
  position: absolute; z-index: 2;
  }

</style>
{% endblock %}
