{% extends "base.html.twig" %}

{% block body %}
    <h1> Créer un Sujet </h1>

    {{ form_start(form) }}
    {{ form_row(form.title, {'label' : 'le Titre', 'attr': {'placeholder': 'Titre du sujet...'}})}}
    <button type="submit" class="btn btn-success">Créer Sujet</button>
    {{ form_end(form) }}
{% endblock %}